:root {
    /* --pink: #ff37a6;
    --blue: #ffcae9; */
    --border-color: lightskyblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    padding: 2rem;
    background-color: white;
    border-radius: 50px;
    border: 3px double var(--border-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(5, 5rem);
}

.display {
    text-align: end;
    font-size: xxx-large;
    margin-right: 4px;
    color: coral;
    grid-column: 1/5;
    grid-row: 1/2;
}

.clear {
    grid-column: 1/5;
    grid-row: 2/3;
}

.numbers {
    grid-column: 1/4;
    grid-row: 3/7;

    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(4, 5rem);
}

.operators {
    grid-column: 4/5;
    grid-row: 3/7;

    display: grid;
    grid-template-rows: repeat(4, 5rem);
}

.numbers button,
.operators button,
.clear {
    border-radius: 50px;
    margin-block: 2px;
    margin-inline: 4px;
}

.numbers button {
    border: 3px solid antiquewhite;
    background-color: cornsilk;
}

.operators button {
    border: 3px solid coral;
    background-color: bisque;
}

.clear {
    border: 3px double var(--border-color);
    background-color: lightpink;
}

button:hover {
    background-color: rgb(233, 189, 12);
}


/**
 * Remove the inner border and padding in Firefox.
 */

/* button::-moz-focus-inner {
    border-style: none;
    padding: 0;
} */

/**
 * Restore the focus styles unset by the previous rule.
 */
/* 
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
